tensorflow==2.10.0
dvc
pandas
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
scipy

-e .

## Dev requirements

pytest==7.1.3
tox==3.25.1
flake8==5.0.4
mypy==0.971